Repository gcoguiec/gcoguiec.com: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint, pnpm stylelint

wip: 404 page.
  _redirects
  justfile
  src/index.ts
  src/pages/not-found.vue
  typed-router.d.ts
Due: pnpm prettier --write, pnpm eslint

test: Add a minimal not-found spec.
  cypress/e2e/not-found.e2e-spec.ts
Due: pnpm prettier --write, pnpm eslint

feat: Setup a 404/not-found page. (#1)
  _redirects
  cypress/e2e/not-found.e2e-spec.ts
  justfile
  src/index.ts
  src/pages/not-found.vue
  typed-router.d.ts
Due: pnpm prettier --write, pnpm eslint

style: Add webmanifest, icons and social banner.
  index.html
  justfile
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  public/social-banner.jpg
Due: none

deps: Bump dependencies.
  package.json
  pnpm-lock.yaml
Due: none

style: Add `to-rem` mixin and its specs.
  src/assets/scss/_throw.scss
  src/assets/scss/_units.scss
  src/assets/scss/_units.spec.scss
  src/assets/scss/scss.spec.ts
Due: pnpm prettier --write, pnpm eslint, pnpm stylelint

style: Normalize browser styles.
  index.html
  src/app.vue
  src/assets/scss/_constants.scss
  src/index.ts
  src/normalizer.scss
Due: pnpm prettier --write, pnpm eslint, pnpm stylelint

style: Add bem mixins and its specs.
  index.html
  src/app.vue
  src/assets/scss/_constants.scss
  src/assets/scss/_mixins.scss
  src/assets/scss/_mixins.spec.scss
Due: pnpm stylelint

refactor: Rewrite mixins.
  src/app.vue
  src/assets/scss/_bem.scss
  src/assets/scss/_bem.spec.scss
  src/assets/scss/_error.scss
  src/assets/scss/_throw.scss
  src/assets/scss/_unit.scss
  src/assets/scss/_unit.spec.scss
  src/normalizer.scss
Due: pnpm stylelint

feat: Add use-bem composable.
  src/composables/use-bem.spec.ts
  src/composables/use-bem.ts
Due: pnpm prettier --write, pnpm eslint

chore: Initial stylesheet setup. (#2)
  index.html
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/assets/scss/_bem.scss
  src/assets/scss/_bem.spec.scss
  src/assets/scss/_constants.scss
  src/assets/scss/_error.scss
  src/assets/scss/_unit.scss
  src/assets/scss/_unit.spec.scss
  src/assets/scss/scss.spec.ts
  src/composables/use-bem.spec.ts
  src/composables/use-bem.ts
  src/index.ts
  src/normalizer.scss
Due: pnpm prettier --write, pnpm eslint, pnpm stylelint

style: Add `to-rem` mixin and its specs.
  .lintstagedrc
  src/assets/scss/_throw.scss
  src/assets/scss/_unit.spec.scss
  src/assets/scss/_units.scss
  src/assets/scss/_units.spec.scss
Due: pnpm stylelint

cleanup: Remove unused scss assets.
  src/assets/scss/_throw.scss
  src/assets/scss/_units.scss
  src/assets/scss/_units.spec.scss
Due: pnpm stylelint

wip: Starting the work on themes.
  index.html
  public/site.webmanifest
  src/app.vue
  src/assets/scss/_constants.scss
Due: pnpm stylelint

wip: Fix linter complaints.
  src/app.vue
Due: none

wip: Update cspell configuration.
  .cspell.json
  justfile
Due: none

feat: Setup layout.
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/index.ts
  src/layouts/default.vue
  src/locales/en.json5
  tsconfig.json
  vite.config.ts
Due: pnpm prettier --write, pnpm eslint

feat: Setup root store with both color-scheme and theme settings.
  package.json
  pnpm-lock.yaml
  src/layouts/default.vue
  src/store/root.spec.ts
  src/store/root.ts
  src/types.ts
Due: pnpm prettier --write, pnpm eslint

security: CVE-2025-30208.
  package.json
  pnpm-lock.yaml
Due: none

deps: Sync lock file.
  pnpm-lock.yaml
Due: none

feat: Register store with the app.
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/layouts/default.vue
Due: pnpm prettier --write, pnpm eslint

feat: Watch for any theme change in default layout.
  src/layouts/default.vue
Due: none

feat: Themes and layouts. (#3)
  .cspell.json
  index.html
  justfile
  package.json
  pnpm-lock.yaml
  public/site.webmanifest
  src/app.vue
  src/assets/scss/_constants.scss
  src/index.ts
  src/layouts/default.vue
  src/locales/en.json5
  src/store/root.spec.ts
  src/store/root.ts
  src/types.ts
  tsconfig.json
  vite.config.ts
Due: pnpm prettier --write, pnpm eslint, pnpm stylelint

cleanup: Move and rename some stuff around.
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/assets/scss/_bem.scss
  src/assets/scss/_error.scss
  src/assets/scss/_unit.scss
  src/index.ts
Due: pnpm prettier --write, pnpm eslint, pnpm stylelint

chore: Add vite-plugin-vue-devtools.
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm prettier --write, pnpm eslint

build: Unset launch editor for the devtools.
  vite.config.ts
Due: pnpm prettier --write, pnpm eslint

cleanup: Rename user-set to detected.
  index.html
  src/app.vue
Due: none

build: Move devtools activation behind an environment variable.
  vite.config.ts
Due: pnpm prettier --write, pnpm eslint

build: Leverage EDITOR env variable and fallback to helix.
  vite.config.ts
Due: pnpm prettier --write, pnpm eslint

chore: Add content license plus some cleanup.
  src/index.spec.ts
  src/pages/LICENSE.md
Due: pnpm prettier --write, pnpm eslint

refactor: Move everything to css variables.
  src/app.vue
  src/assets/scss/_bem.scss
  src/assets/scss/_constants.scss
  src/layouts/default.scss
  src/layouts/default.vue
  src/normalizer.scss
Due: pnpm stylelint

deps: Bump dependencies.
  .cspell.json
  package.json
  pnpm-lock.yaml
  src/assets/scss/_unit.spec.scss
Due: pnpm stylelint

Path conditions:
  pnpm prettier --write: any of: *.{ts,js,cjs,mjs,cts,mts,json5,md}
  pnpm eslint: any of: *.{ts,js,cjs,mjs,cts,mts}
  pnpm stylelint: any of: *.{scss,css}
